.analyze-card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.analyze-card_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    position: relative;

    .separator {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 100%;
        background: #e3e6e8;
    }

    img:nth-child(3) {
        align-self: flex-end;
    }
}