.card {
    border-radius: 24px;
    padding: 16px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.04);
    background: #fff;
    display: flex;
    flex-direction: column;
    flex: 1 1 592px;

    &:has(.card-checkbox:checked) {
        border: 2px solid #335cff;
    }
}